<div class="container mt-3">
    <div class="row">
        <div class="col-4 text-center">
            <div class="cover-wrapper-profile mt-4">
                <img 
                    src="{{#if user.avatar}}{{user.avatar}}{{else}}/img/avatar.jpg{{/if}}"                    id="avatarPhoto"
                    class="avatar-img-profile"
                    alt="Avatar"
                    style="cursor: pointer;"
                >
            </div>
            
            <div>
                <h2 class="profile-name mb-0">{{user.fullName}}</h2>
                <small class="text-muted">100 Đồng nghiệp</small>
            </div>
        </div>

        <div class="col-8">
            <!-- Tabs -->
            <ul class="nav nav-tabs mt-3" id="profileTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="posts-tab" href="/profile/{{user._id}}/posts" role="tab" aria-selected="false">Bài viết</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="about-tab" href="/profile/{{user._id}}/about" role="tab" aria-selected="true">Giới thiệu</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="dashboard-tab" href="/profile/{{user._id}}/dashboard" role="tab" aria-selected="false">Bảng điều khiển</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="photos-tab" href="/profile/{{user._id}}/photos" role="tab" aria-selected="false">Ảnh</a>
                </li>
            </ul>

            <div class="tab-content p-3 bg-white border border-top-0 rounded-bottom mb-5" id="profileTabsContent">
                <div class="tab-pane fade show active" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                    <h5>Ảnh</h5>
                    <div class="row g-3 mt-3">
                        {{#each user.photos}}
                            <div class="col-md-4">
                                <img 
                                    src="{{this}}" 
                                    class="img-thumbnail" 
                                    style="width: 100%; height: 100%;"
                                    onclick="openPhotoModal('{{this}}')"
                                >
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal xem ảnh -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="" id="modalPhoto" class="img-fluid" alt="Ảnh xem lớn">
      </div>
    </div>
  </div>
</div>

<script>
  function openPhotoModal(src) {
    const modalImg = document.getElementById('modalPhoto');
    modalImg.src = src;
    const modal = new bootstrap.Modal(document.getElementById('photoModal'));
    modal.show();
  }
</script>
